{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HQ Manager</title>
    
    <link rel="stylesheet" href="{% static '/css/style.css' %}"> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
    <a href="{% url 'homepage' %}">Home</a>

    {% if not user.is_authenticated %}
    <a href="{% url 'welcome' %}">Login</a>
    {% endif %}
    
    <a href="#more">Info</a>

    {% if user.is_authenticated %}
    <a href="{% url 'fuori' %}">Logout</a>
    <div>
        <a href="#about">{{ user }}</a>
    </div>
    {% endif %}
    
</div>

<div style="border: 1px solid #ccc; margin-top: 20px; padding: 10px;">
    <img src="{{ image.url }}" alt="Immagine dell'evento" style="width: 200px; height: auto;">
    <h2>Anteprima dell'Evento</h2>
    <p><strong>Nome:</strong> {{ name }}</p>
    <p><strong>Descrizione:</strong> {{ description }}</p>
    <!-- Mostra l'immagine solo se è stata caricata -->
    {% if image %}
        <img src="{{ image.url }}" alt="Immagine dell'evento" style="width: 200px; height: auto;">
    {% endif %}
</div>
  

<footer class="footer">
      <p >© 2024 HQ Manager. Tutti i diritti riservati.</p>
</footer>

</body>
</html>



